<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Pagina principal - SRi</title>
</head>
<body>
    <header>
        <div class="img_logo">
            <img src="./images/logo.png" alt="Imagen del proyecto" width="70" height="70">
            <h1>SRi </h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
                
                <div class="card">
                    <h2 class="card-title">SRi</h2>
                    <p class="card-description">Un sistema de riego inteligente SRi, determina el tiempo necesario para tus cultivos a gran o media escala, ahorrando los recursos fundamentales a la hora de cultivar.
                        Un sistema que implementa algoritmos de análisis de datos, probabilidades para la mejor eficiencia.
                    </p>
                    <a href="#" class="btn card-button">Ordenar ahora</a>
                </div>

                <img src="./images/ola.jpg" alt="Imagen del proyecto" width="450" height="450">

    </main>

    <section class="about">
        <h2>Acerca de Nosotros</h2>
        <p>Somos un proyecto de innovacion dedicado a la irrigacion agricola, de forma inteligente y eficiente</p>
    </section>

    <section class="services">
        <h2>Nuestros Servicios</h2>
        <ul>
            <li>Servicio 1</li>
            <li>Servicio 2</li>
            <li>Servicio 3</li>
        </ul>
    </section>

    <section class="group">
        <h2>Equipo de trabajo</h2>
        <p>Equipo de trabajo de SRi...</p>
    </section>

    <footer>
        <p>&copy; 2023 SRi. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
