<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main_styles.css">
    <title>Pagina principal - SRi</title>
    <script src="https://kit.fontawesome.com/2cb25f2c39.js"></script>
</head>

<body>

    <header>

        <nav>

            <div>
                <img src="/images/icono.svg" alt="Logo" class="logo">
            </div>

            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>

            <ul class="nav-menu">
                <li><a class="active" href="#">Inicio</a></li>
                <li><a href="#">Precios</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

        </nav>

        <div class="banner-text container">
            <div class="text-header">

                <h1>
                   Sistema de riego inteligente
                </h1>

                <p> Un sistema de riego eficiente es crucial para garantizar que los cultivos reciban la cantidad
                    adecuada de agua en el momento preciso.
                    <br />
                    El agua es un recurso invaluable en el mundo rural, por lo
                    que la optimización del riego es esencial.
                </p>

                <a class="btn-a" href="#">Mas Informacion</a>

            </div>

            <div class="img-header">
                <img src="./images/ref.png" alt="">
            </div>

        </div>

    </header>

    <section>

        <div class="about container">
            <h2>Nosotros</h2>
            <p>
                Somos un equipo apasionado de innovadores en el campo de la agricultura y la tecnología. Estamos
                dedicados a la creación de soluciones de riego inteligente que impulsan la eficiencia, la sostenibilidad
                y el éxito en la agricultura. Nuestra experiencia en tecnología avanzada y nuestro compromiso con la
                conservación de recursos naturales nos impulsan a ofrecer sistemas de riego que marcan la diferencia.
                Creemos en un futuro donde la agricultura sea más inteligente y más respetuosa con el medio ambiente.
                Únete a nosotros en este emocionante viaje hacia la agricultura del mañana.
            </p>

            <div class="icons-about">
                <div class="icon-about">
                    <img src="" alt="">
                    <div class="icon-text">
                        <h3>Item</h3>
                        <p>Lorem ipsum</p>
                    </div>
                </div>

                <div class="icon-about">
                    <img src="" alt="">
                    <div class="icon-text">
                        <h3>Item</h3>
                        <p>Lorem ipsum</p>
                    </div>
                </div>

                <div class="icon-about">
                    <img src="" alt="">
                    <div class="icon-text">
                        <h3>Item</h3>
                        <p>Lorem ipsum</p>
                    </div>
                </div>

            </div>

            <a class="btn-b" href="#">Mas Informacion</a>

        </div>

    </section>

    <main class="services">
        <div class="container">

            <div class="services-container">
                <div>

                    <div class="services-cards">
                        <div class="card">
                            <img src="" alt="">
                            <h3>SRi Conectado</h3>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                    </div>

                    <div class="services-cards">
                        <div class="card">
                            <img src="" alt="">
                            <h3>SRi No Conectado</h3>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                    </div>

                </div>
                <div class="services-text">
                    <h2>Servicio</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit a, ipsam in illum inventore minima
                        corporis est. Dolorum perferendis at, ex, iste aliquam laboriosam dignissimos aliquid, unde
                        explicabo facere nobis.
                    </p>

                    <a class="btn-c" href="#">Contacto</a>

                </div>
            </div>

        </div>
    </main>


    <footer class="footer">

        <div class="footer-sec container">
            <h2>Contacto</h2>
            <p class="f-txt">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur incidunt distinctio, magnam qui
                nisi iste, officiis sed ut inventore similique asperiores modi consequatur, id assumenda tenetur
                blanditiis omnis odit error!
            </p>

            <div class="content-footer">
                <div class="links">

                    <div class="link">
                        <h3>Enlaces</h3>
                        <p>Lorem</p>
                        <p>Lorem</p>
                        <p>Lorem</p>
                        <p>Lorem</p>
                    </div>

                    <div class="link">
                        <h3>Enlaces</h3>
                        <p>Lorem</p>
                        <p>Lorem</p>
                        <p>Lorem</p>
                        <p>Lorem</p>
                    </div>

                    <div class="link">
                        <h3>Enlaces</h3>
                        <p>Lorem</p>
                        <p>Lorem</p>
                        <p>Lorem</p>
                        <p>Lorem</p>
                    </div>

                </div>

            </div>
        </div>

    </footer>

</body>

</html>